[Unit]
Description=KobraKai - No Mercy VoIP Hacker Blocker for use with FreePBX(c) (Asterisk(c)/Sangoma(c)) Software

[Service]
ExecStart=/usr/bin/python3 /home/KobraKai/kobrakai-v1.py --range
Restart=always

[Install]
WantedBy=multi-user.target
